$namesapce: "zanz";
$element-separator: "__";
$modifier-separator: "--";
$state-prefix: "is-";

$--header-padding: 0 20px !default;
$--footer-padding: 0 20px !default;
$--main-padding: 20px !default;

$--zanz-button-default-bg-color: #fff !default;
$--zanz-button-default-text-color: #606266 !default;

//bem
@mixin b($block) {
	$B: $namesapce + "-" + $block !global;
	.#{$B} {
		@content;
	}
}

// add class
@mixin when($state) {
	@at-root {
		&.#{$state-prefix + $state} {
			@content;
		}
	}
}

// @mixin 
